@keyframes moveInFromLeft {
    0% {opacity: 0; transform: translate(-100px, 0px)}
    75% {transform: translate(10px, 0px);}
    100% {opacity: 1;}
}

@keyframes moveInFromRight {
    0% {opacity: 0; transform: translate(100px, 0px)}
    75% {transform: translate(-10px, 0px);}
    100% {opacity: 1;}
}

@keyframes moveInFromBottom {
    0% {opacity: 0; transform: translate(0px, 100px)}
    100% {opacity: 1;}
}

header {
    padding: 5%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        #ca5ad72f, 
        #b20ecf46
      ),
      url(../../assets/spacex.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0% 100%);
    color: white;
}

.headerTexts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon {
    width: 6%;
    align-self: flex-start;
    margin: -3% 0 0 -3%;
}

button {
    width: 8rem;
    height: 4rem;
    border-style: none;
    border-radius: 2rem;
    background-color: white;
    color: #5A5A5A;
    animation-name: moveInFromBottom;
    animation-duration: 3s;
}

header h1{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 3rem;
    margin: 0;
    margin-right: -3rem;
    animation-name: moveInFromLeft;
    animation-duration: 3s;
}

header p{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8rem;
    margin-right: -0.8rem;
    margin-bottom: 5rem;
    animation-name: moveInFromRight;
    animation-duration: 3s;
}

@media only screen and (max-width: 1142px) {
    header{
        height: 80vh;
    }
}

@media only screen and (max-width: 970px) {
    header{
        height: 85vh;
    }
}